<div class="card mx-auto">
    <div class="card-header">
        <div *ngIf="post; else loadingIMG">
            <img class="card-img-top" src="{{ post.imgData }}" alt="Post image">
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title" *ngIf="post; else loading">{{ post.title }}</h5>
        <p><a href="#" onclick="return false;" (click)="likePost()">
        <img class="heart" src="assets/{{ heartIconPath }}" alt="heart">
        </a></p>
        <h5 *ngIf="post">{{ post.likes }}</h5>
    </div>
</div>

<ng-template #loading>
    <div class="animated-background">
    </div>
</ng-template>

<ng-template #loadingIMG>
    <div class="animated-background animated-background-img">
    </div>
</ng-template>
